html
   head
      title Form Tester
   body
      form(action = "/", method = "delete")
         
             each val, index in todoList
               
               input(type='checkbox' name = "index" )
               | #{val.name} + ' '+ #{val.name}
                  
               br
        
      button(type = "submit") Delete