html
   head
      title Form Tester
   body
      form(action = "/", method = "POST")
         div
            label(for = "say") Say: 
            input(type='checkbox' name = "say" value = "Hi")
         br
         div
            label(for = "to") To: 
            input(type='checkbox' name = "to" value = "Koa form")
         br
         button(type = "submit") Send my greetings